div.nav.nav.pills {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
div.navbar.navbar-default {
  position: fixed;
  width: 100%;
  display: block;
  min-width: 1100px;
}
h2.panel.panel-heading {
  margin-top: 50;
  margin-bottom: 0;
  overflow: hidden;
  display: block;
}
p.panel.panel-content {
  padding: 15;
  min-width: 1100px;
}
div.panel.panel-primary {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
body.container-fluid {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
}
@media only screen and (max-device-width: 480px){
  float : none;
}