extends layout

block navigation
	div(class="navbar navbar-default")
		ul(class="nav nav-pills")
			li
				a(href='/') Home
			li.active
				a(href='/cats') Cats
			li
				a(href='/dogs') Dogs
			li
				a(href='/fish') Fish
			li
				a(href='/reptiles') Reptiles
			li
				a(href='/small_animals') Small Animals
			li
				a(href='/forum') Forums
			li
				a(href='/list') List a Pet
block heading
	div(class="panel panel-primary")
		h2(id="cat-panels" class="panel panel-heading")
			| Cats Available for Adoption
block content
	div(id="catProfiles" ng-controller="listController" class="panel panel-info")
		h3(class="panel panel-heading")
			| Cat Profiles:
		div(class="container-fluid")
			div(id="column" ng-repeat="list in listings")
				div(id="profile-container" class="thumbnail")
					div(id="image-container")
						img(id="pet-image" ng-src="/image/{{list.image_path}}" alt="{{list.name}}")
						div
							div(id="pet-desc" class="caption")
								h3 {{list.name}}
								p  {{list.desc}}
							a(id="button-adopt" href="#" class="btn btn-primary" role="button")
								span(class="glyphicon glyphicon-heart")
								|	Adopt
							a(id="button-info" href="#" class="btn btn-default" role="button")
								span(class="glyphicon glyphicon-info-sign")
								| 	Info
block footer	
	p &copy AniDopt Pet Adoption Services 2015
	script(type="text/javascript" src="/js/controllers/list-controller.js")