extends layout

block navigation
	div(class="navbar navbar-default")
		ul(class="nav nav-pills")
			li
				a(href='/') Home
			li
				a(href='/cats') Cats
			li
				a(href='/dogs') Dogs
			li
				a(href='/fish') Fish
			li
				a(href='/reptiles') Reptiles
			li
				a(href='/small_animals') Small Animals
			li
				a(href='/forum') Forums
			li.active
				a(href='/list') List a Pet
block heading
	span(class="panel panel-primary")
	h2(class="panel panel-heading")
		| List a Pet for Adoption
block content
	div(ng-controller="listController")
		div(id="wrap-form")
			form(id="petInfo" ng-hide="prof.check==true")
				div
					fieldset(class="well")
						legend(class="the-legend")
							| Step 1: Basic Pet Info:
						input(type="text" placeholder="Pet's name" ng-model="prof.petName")
						div
						input(type="text", placeholder="Pet Description" ng-model="prof.petDesc")
					div
						button(type="button" ng-click="postListing()")
							| Post
			form(id="petPhoto" ng-hide="prof.check==true" enctype="multipart/form-data" action = "/api/image" method = "post")
				div
					fieldset(class="well")
						legend(class="the-legend")
							| Step 2: Upload Photo:
						input( type="file" name="image" )
				div
					input( type="submit" name="submit" value="Upload Image")
			p Recently listed:
			div
				li(ng-repeat= "list in listings") {{list.name}}					
					input(type="text" ng-model="prof.newName[$index]" ng-show="checked" placeholder="Edit Name Here...")
					button(type="button" ng-click="updateListing(list, $index); checked = !checked" ng-show="checked")
						| Update
					button(type="button" ng-click="removeListing(list, $index)" ng-show="checked")
						| Delete
					input(type="checkbox" ng-model="checked" )
		div(id="catProfiles" ng-controller="testController" class="panel panel-info")
			h3(class="panel panel-heading")
				| Cat Profiles:
			div(class="container-fluid")
				div
					div(id="profile-container" class="thumbnail")
						div(id="image-container")
							img(id="pet-image" ng-src="{{prof.image}}" alt="{{prof.name}}")
							div
								div(id="pet-desc" class="caption")
									h3 Name goes here: {{prof.name}}
									p Description goes here: {{prof.desc}}
								a(id="button-adopt" href="#" class="btn btn-primary" role="button")
									span(class="glyphicon glyphicon-heart")
									|	Adopt
								a(id="button-info" href="#" class="btn btn-default" role="button")
									span(class="glyphicon glyphicon-info-sign")
									| 	Info
block footer		
	p &copy AniDopt Pet Services 2015
	script( type="text/javascript" src="/js/controllers/list-controller.js")
	script( type="text/javascript" src="/js/controllers/test-controller.js")