extends layout

block navigation
	div(class="navbar navbar-default")
		ul(class="nav nav-pills")
			li
				a(href='/') Home
			li
				a(href='/cats') Cats
			li
				a(href='/dogs') Dogs
			li
				a(href='/fish') Fish
			li
				a(href='/reptiles') Reptiles
			li
				a(href='/small_animals') Small Animals
			li
				a(href='/forum') Forums
			li.active
				a(href='/list') List a Pet
block heading
	span(class="panel panel-primary")
	h2(class="panel panel-heading")
		| List a Pet for Adoption
block content
	div(ng-controller="listController")
		div(id="wrap-form")
			form(ng-submit="postListing()")
					label
						| Pet Name:
					input(type="text" placeholder="Pet's name" ng-model="petName")
					button(type="submit")
						| Post
		div
			p Recently listed:
			div
				li(ng-repeat= "list in listings") {{list.name}}
					button(id="delete")
						| Delete
block footer
	p &copy AniDopt Pet Services 2015
	script( type="text/javascript" src="/js/controllers/list-controller.js")
