extends layout

block navigation
	div(class="navbar navbar-default")
		ul(class="nav nav-pills")
			li
				a(href='/') Home
			li
				a(href='/cats') Cats
			li
				a(href='/dogs') Dogs
			li
				a(href='/fish') Fish
			li
				a(href='/reptiles') Reptiles
			li
				a(href='/small_animals') Small Animals
			li
				a(href='/forum') Forums
			li.active
				a(href='/list') List a Pet
block heading
	span(class="panel panel-primary")
	h2(class="panel panel-heading")
		| List a Pet for Adoption
block content
	div(ng-controller="listController")
		div(id="wrap-form")
			form
				div
					label
						| Pet Name:
					input(type="text" placeholder="Pet's name" ng-model="prof.petName")
				div
					label
						| Pet Description:
					input(type="text", placeholder="Pet Description" ng-model="prof.petDesc")
				div
					button(type="button" ng-click="postListing()")
						| Post
			form(id="uploadForm", enctype="multipart/form-data" action = "/api/photo" method = "post")
				input( type="file" name="userPhoto")
				input( type="submit" value="Upload Image" name="submit")
			p Recently listed:
			div
				li(ng-repeat= "list in listings") {{list.name}}					
					input(type="text" ng-model="prof.newName[$index]" ng-show="checked" placeholder="Edit Name Here...")
					button(type="button" ng-click="updateListing(list, $index); checked = !checked" ng-show="checked")
						| Update
					button(type="button" ng-click="removeListing(list, $index)" ng-show="checked")
						| Delete
					input(type="checkbox" ng-model="checked" )
	div(ng-controller='listController')
		button(type="button" ng-click="streamImage()")
			| Stream
block footer		
	p &copy AniDopt Pet Services 2015
	script( type="text/javascript" src="/js/controllers/list-controller.js")