extends layout
block navigation
	div(class="navbar navbar-default")
		ul(class="nav nav-pills")
			li
				a(href='/') Home
			li
				a(href='/cats') Cats
			li
				a(href='/dogs') Dogs
			li
				a(href='/fish') Fish
			li
				a(href='/reptiles') Reptiles
			li
				a(href='/small_animals') Small Animals
			li
				a(href='/forum') Forums
			li.active
				a(href='/list') List a Pet
block heading
	span(class="panel panel-primary")
	h2(class="panel panel-heading")
		| List a Pet for Adoption
block content
	script.
		var socket = io.connect('http://localhost:3000');
		function emitId(id){ console.log('before emit: ' + id); socket.emit('post:id', id)};
	div(ng-controller="listController")
		div(id="wrap-form")
			form(id="petInfo" ng-hide="prof.check==true")
				div
					fieldset(class="well")
						legend(class="the-legend")
							| Step 1: Basic Pet Info:
						input(type="text" placeholder="Pet's name" ng-model="prof.petName")
						div
						input(type="text", placeholder="Pet Description" ng-model="prof.petDesc")
						div
						//- form
						//- 	input(type="radio" name="type" value="cats" checked)
						//- 	label
						//- 		| Cat
						//- 	input(type="radio" name="type" value="dogs")
						//- 	label
						//- 		| Dog
						//- 	input(type="radio" name="type" value="fish" checked)
						//- 	label
						//- 		| Fish
						//- 	input(type="radio" name="type" value="reptiles")
						//- 	label
						//- 		| Reptiles
						//- 	input(type="radio" name="type" value="smallAnimals")
						//- 	label
						//- 		| Rabbit
						form
							div(class="btn-group" data-toggle="buttons")
								label(class="btn btn-default") Cat
									input(type="radio" value="cats" name="type" checked="checked")
								label(class="btn btn-default") Dog
									input(type="radio" value="dogs" name="type")
					div
						button(type="button" ng-click="postListing()")
							| Post
			form(id="petPhoto" ng-show="prof.check==true" enctype="multipart/form-data" action = "/api/image" method = "post")
				div
					fieldset(class="well")
						legend(class="the-legend")
							| Step 2: Upload Photo:
						input( type="file" name="image" ng-click="getId()")
				div
					input( type="submit" name="submit" value="Upload Image" )
			p Recently listed: {{prof.post_id}}
			div
				li(ng-repeat= "list in listings") {{list.name}}					
					input(type="text" ng-model="prof.newName[$index]" ng-show="checked" placeholder="Edit Name Here...")
					button(type="button" ng-click="updateListing(list, $index); checked = !checked" ng-show="checked")
						| Update
					button(type="button" ng-click="removeListing(list, $index)" ng-show="checked")
						| Delete
					input(type="checkbox" ng-model="checked" )
block footer		
	p &copy AniDopt Pet Services 2015
	script( type="text/javascript" src="/js/controllers/list-controller.js")